.chat-messenger {
	box-sizing: border-box;
	border-top: solid 1px #666;
	display: flex;
	grid-column: 1 / 2;
	grid-row: 3;
	margin: 0;
	padding: 0.5em;
	width: 100%;
}

.chat-messenger-input {
	box-sizing: border-box;
	flex-grow: 1;
	background-color: #444;
	color: #fff;
	font-family: inherit;
	font-size: 1em;
}

.chat-messenger-submit {
	box-sizing: border-box;
	font-size: 1em;
}
