.chat-header {
	box-sizing: border-box;
	border-bottom: solid 1px #666;
	grid-column: 1 / 3;
	grid-row: 1;
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding: 0.5em;
}

.chat-title {
	flex-grow: 1;
}
